body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('image-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    width: 600px;
    height: 300px;
    padding: 20px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 30px;
    text-align: center;
    color: white;
}

.clock {
    display: flex;
    

}

.clock div {
    margin: 5px;
    position: relative;
}


.clock span {
    width: 100px;
    height: 100px;
    background-color: rgba(13, 44, 108, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);


}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    background-color: rgba(94, 94, 177, 0.8);
    letter-spacing: 2px;
}

#ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    background-color: green;
    font-size: 20px;
    height: 30px;
}